* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* //////////////////// STYLES START //////////////////////// */

html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
    padding: 4px 0 4px 0;
}

.my-a {
    text-decoration: none;
}

.container {
    width: 100vw;
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.container-top {
    height: calc(100vh - 80px);
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.my-hr {
    border: solid 1px;
    margin: 10px 0 10px 0;
}

.lefted {
    float: left;
}

.bg-black {
    background-color: black;
}

.text-white {
    color: white;
}

.text-gray {
    color: #808080;
}

.text-padding {
    padding: 10px 0 10px 0;
}

.text-center {
    text-align: center;
}

/* //////////////////// STYLES END ////////////////////////// */
                          /*  */
/* //////////////// PLAYLIST COLUMN START /////////////////// */

.column-playlist {
    max-width: 200px;
    height: 100%;
    padding-right: 15px;
}

.logo {
    flex-shrink: 0;
    height: 80px;
}

svg {
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.list-top > ul > li > a > h5 {
    padding: 5px 0 0 25px;
}

.border-left-green {
    border-left: solid 2px rgb(191, 252, 92);
    padding-left: 13px;
}

.list-top > ul > li:nth-child(2), 
.list-top > ul > li:nth-child(3), 
.list-top > h5 {
    padding-left: 15px;
}

.logo img {
    width: 80%;
    padding: 15px;
}

.create-playlist {
    height: 25px;
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 15px;
}

.create-playlist > a > h4 {
    line-height: 25px;
    padding-left: 30px;
}

.create-icon {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    color: black;
    background-color: #d3d3d3;
}

.list-bot {
    flex-grow: 1;
    overflow: auto;
    padding-left: 15px;
}

.install-app {
    flex-shrink: 0;
    height: 65px;
    padding-left: 15px;
}

.install-app > a > h6 {
    margin-left: 20px;
}

.install-app > svg {
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
    opacity: 1;
}

/* //////////////// PLAYLIST COLUMN END ///////////////////// */
                          /*  */
/* //////////////////// TOP BAR START /////////////////////// */

.top-bar {
    flex-shrink: 0;
    height: 80px;
    background-color: rgb(8, 11, 17);
}

.top-button {
    float: right;
    width: 200px;
    line-height: 40px;
    margin-top: 20px;
    padding: 0px 10px;
    border-radius: 20px;
    border: solid 1px white;
}

/* //////////////////// TOP BAR END ///////////////////////// */
                           /*  */
/* /////////////////// MAIN BODY START ////////////////////// */

.column-album {
    max-width: calc(100% - 200px);
    height: 100%;
    background-color: rgb(21, 25, 33);
}

.album-list {
    overflow: auto;
}

.navbar > ul > li {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.border-bot-green {
    width: 30px;
    height: 0;
    border: solid 1px rgb(191, 252, 92);
    position: relative;
    bottom: -3px;
    margin: auto;
}

.album-row {
    padding: 15px;
}

.box {
    flex-basis: calc(100% / 6);
    padding: 15px 5px 5px 15px;
    flex-shrink: 1;
    position: relative;
}

.box > img {
    max-width: 100%;
    max-height: 200px;
}

.box > h3 {
    margin-top: 20px;
}

.box-img > img {
    max-width: 100%;
    max-height: 200px;

}

.box-img {
    max-width: 200px;
    max-height: 200px;
    position: relative;
    display: flex;
}

.img-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.2;
    display: none;
}

.box-img > i {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.row-1 > h2 {
    padding-bottom: 10px;
}

.album-row > h2 {
    padding: 0 0 5px 15px;
}

.row > h5 {
    padding: 0 0 10px 15px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
}

.img-round {
    border-radius: 50%;
}

/* /////////////////// MAIN BODY END //////////////////////// */
                           /*  */
/* //////////////////// PLAY BAR START ////////////////////// */

.container-bot {
    height: 80px;
    background-color: rgb(40, 40, 40);
    position: fixed;
    bottom: 0%;
    display: flex;;
    justify-content: space-between;
}

.bottom-bar-sides {
    flex-basis: 200px;
    display: flex;
    flex-basis: 200px;
    flex-shrink: 2;
}

.bottom-bar-center {
    width: calc(100vw - 400px);
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 2;
}

.bottom-bar-left > img {
    width: 40px;
    margin: 20px 10px 20px 10px;
}

.box-bot-left-left {
    margin-top: 25px;
}

.box-bot-left-right {
    float: right;
    margin-top: 30px;
}

.box-bot-left-right > .fa {
    padding-left: 10px;
    vertical-align: middle;
}

.play-buttons {
    text-align: center;
    height: 50px;
    padding-top: 5px;
    min-width: 180px;
    flex-basis: 100px;
    margin: auto;
    position: relative;
}

.fa-play-circle-o {
    font-size: 35px;
    position: absolute;
    left: 75px;
    top: 5px;
}

.play-buttons > .fa {
    margin: 0 8px 0 8px;
    vertical-align: middle;
    display: inline-block;
}

.fa-random, .fa-step-backward, .fa-step-forward, .fa-repeat {
    position: relative;
    top: 0px;
    padding: 10px 5px 15px 5px;
}

.play-buttons > .fa-step-backward {
    margin-right: 40px;
}

.track-progression-box {
    width: 60%;
    min-width: 180px;
    margin: auto;
    padding-bottom: 5px;
}

.minutes-sides {
    width: 10%;
    margin-top: -2px;
}

.minutes-right {
    float: right;
    text-align: right;
}

.progression-bar {
    border: solid 2px rgb(40, 40, 40);
    background-color: gray;
    border-radius: 4px;
    display: inline-block;
}

.middle-bar {
    margin-bottom: 10px;
    min-width: 80%;
}

.level-bar {
    width: 11%;
    background-color: white;
    border: solid 2px white;
    border-radius: 4px;
    position: relative;
}

.level-bar-circle {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    display: none;
}

.bot-box-right-left {
    height: 100%;
    flex-basis: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bot-box-right-left > i {
    margin-left: 5px;
}

.bot-box-right-right {
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 120px;
    flex-shrink: 1;
}

.volume-bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;
    flex-basis: 80%;
}

.volume-level {
    width: 30%;
}

/* //////////////////// PLAY BAR END //////////////////////// */
                          /*  */
/* ////////////////// MEDIA QUERY START ///////////////////// */

@media all and (max-width: 992px) {
    .box {
        flex-basis: calc(100% / 4);
    }
}

@media all and (max-width: 768px) {
    .box {
        flex-basis: calc(100% / 2);
    }

    .bottom-bar-sides {
        flex-basis: 25vw;
    }

    .bottom-bar-center {
        flex-basis: 50vw;
    } 
}

@media all and (max-width: 480px) {
    .logo > img, .list-top > ul > li > a > h5,
    .list-top > h5, .create-icon, .create-playlist > a > h4,
    .list-bot > ul > li, .install-app > a > h6,
    .install-app > hr, .install-app > h4 {
        display: none;
    }

    .logo {
        background-image: url(img/logo-small.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-x: 15px;
        background-position-y: 10px;
        height: 50px;
    }

    .list-top > ul > li > a > svg {
        margin-bottom: 10px;
    }

    .border-left-green {
        border-left: none;
    }

    .install-app {
        height: 60px;
    }

    .install-app > a > i {
        padding: 0 0 10px 3px;
    }

    .column-playlist {
        max-width: 50px;
    }

    .column-album {
        max-width: calc(100% - 50px);
    }
}

/* ////////////////// MEDIA QUERY END /////////////////////// */
                          /*  */
/* ///////////////////// HOVER START //////////////////////// */

.hover-white:hover {
    color: white;
}

.my-a:hover > svg {
    opacity: 2;
}

.my-a:hover > .create-icon {
    background-color: white;
}

.top-button:hover {
    width: 250px;
    line-height: 50px;
    margin-top: 15px;
    padding: 0px 15px;
    border-radius: 25px;
}

.box > img:hover {
    background-color: black;
    z-index: 2;
}

.box-img:hover > i {
    display: block;
}

.box-bot-left-left > a > h6:hover {
    text-decoration: underline;
}

.box-img:hover .img-hover {
    display: block;
}

.box-bot-left-right > i:hover {
    color: white;
}

.play-buttons > .fa-play-circle-o:hover {
    font-size: 40px;
}

.play-buttons > .fa-random:hover {
    position: static;
    top: 0px;
}

.level-bar:hover > .level-bar-circle {
    display: block;
}

.level-bar:hover {
    background-color: rgb(191, 252, 92);
    border: solid 2px rgb(191, 252, 92);
}
