* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
}

.container-top {
    height: calc(100vh - 80px);
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.container-bot {
    height: 80px;
    background-color: red;
    position: fixed;
    bottom: 0%;
}
/* //////////////// PLAYLIST COLUMN START /////////////////// */
.column-playlist {
    width: 20vw;
    height: 100%;
    background-color: green;
    float: left;
}

.column-album {
    width: 80vw;
    /* background-color: hotpink; */
    height: 100%;
    float: left;
}

.logo {
    /* width: 100%; */
    flex-shrink: 0;
    height: 60px;
    background-color: white;
}

.list-top {
    /* width: 100%; */
    flex-shrink: 0;
    height: 60px;
    background-color: yellow;
}

.list-bot {
    flex-grow: 1;
    background-color: violet;
    overflow: auto;

}

.install-app {
    flex-shrink: 0;
    height: 60px;
    background-color: black;
}

.top-bar {
    flex-shrink: 0;
    height: 60px;
    background-color: turquoise;
}

.album-list {
    flex-grow: 1;
    background-color: cadetblue;
    overflow: auto;
}




